.titulo-wrap{
  padding: 25px 0;
}
.tiempo-provincia-card-wrap{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  /* border: 1px solid salmon */
}
.tiempo-provincia-card{
  width: 100%;
  height: 260px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
  overflow-y: scroll;
  background-color: var(--card-color);
  padding: 10px;
}
.tiempo-provincia-card::-webkit-scrollbar{
  width: 10px;
  background-color: transparent;
}
.tiempo-provincia-card::-webkit-scrollbar-thumb{
  border-radius: 10px;
  background-color: #787878;
}

@media(max-width: 767px){
  .tiempo-provincia-card-wrap{
    flex-direction: column;
  }
}
