<div  class="pronostico-card">
  <div class="pronostico-data hora">{{hora}}:00</div>
  <div class="pronostico-data estadoCielo"><img src="" alt="estado cielo"></div>
  <div class="pronostico-data temperatura">{{temperatura}}ºC</div>
  <div class="pronostico-data precipitacion"><img src="./assets/paraguas.png" alt="lluvia">{{probLluvia}}%</div>
  <div class="pronostico-data nieve">{{nieve}}mm</div>
  <div class="pronostico-data viento"><img src="./assets/viento.png" alt="viento">{{viento}}km/h</div>
</div>
